:root {
  --primary: #7A63FF;
  --secondary: #74E0EF;
  --secondary-light: #C1F7FF;
  --dark-primary: #1E1E1E;
  --dark-gray: #555555;
  --light-gray: #E7E7E7;
  --gray: #969696;
  --gray2: #B4B4B4;
  --pink: #EF75FD;
}